// Colours
$capita-light-blue: #01a1c1;
$capita-dark-blue: #005b82;
$grey: #333333;
$dark-grey: #e1e1e1;
$dark-grey-border: #d1d1d1;
$light-colour: #aaa;
$light-grey: #fafafa;
$light-grey-border: #eeeeee;

// Header
$nav-background: $grey;
$nav-text-colour: white;
