.top-bar, .top-bar ul {
	background-color: $capita-light-blue;
}

.top-bar{
	.menu-text {
		color: $nav-text-colour;
	}

	.menu > .menu-text > a {
		color: $nav-text-colour;
		display: inline;
		padding: 0;
	}

	.active-link {
		font-weight: bold;
	}
}
